[Desktop Entry]
Name=Bigclock
Comment=A clear and modern date/time display

Icon=preferences-system-time
Type=System
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Name=org.kde.Big.Clock
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
